.pizza {
	background: white;
	border: 1px solid #ededed;
	box-shadow: 0 12px 24px 0 rgba(0,0,0,0.09);
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px;
	margin-bottom: 22px;

	&__img {
		width: 252px;
		height: 200px;
		object-fit: contain;
	}

	&__title {
		margin: 0 40px;
		text-align: center;
		margin-top: -1rem;
		background: red;
		display: inline;
		line-height: 1.3;
		font-size: 27px;
		color: white;
		padding: 0 7px;
	}

	&__price {
		background: #ff0000;
		color: white;
		font-weight: 600;
		padding: 5px;
		line-height: 1;
		font-size: 27px;
		display: inline-block;
		position: absolute;
		top: 0;
		right: 0;
	}

	&__controls {
		position: absolute;
		top: 5px;
		left: 5px;
	}

	svg {
		width: 22px;
		height: 22px;
		cursor: pointer;
		margin-right: 10px;
		color: #392e4a;
	}
}
