.pizza {
	background: white;
	border: 1px solid #ededed;
	box-shadow: 0 12px 24px 0 rgba(0,0,0,0.09);
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 12px;
	margin-bottom: 22px;
}

.pizza img {
	width: 252px;
	height: 200px;
	object-fit: contain;
}

.price {
	background: #ff0000;
	color: white;
	font-weight: 600;
	padding: 5px;
	line-height: 1;
	font-size: 27px;
	display: inline-block;
	position: absolute;
	top: 0;
	right: 0;
}