.form {
	margin-bottom: 52px;
	border: 2px solid #000;
	overflow: hidden;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	max-width: 520px;

	&__input {
		width: 50%;
		padding: 10px;
		line-height: 1;
		font-size: 16px;
		border: 0;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		border-radius: 0;
		background: #fff;

		&:focus {
			outline: 0;
			background: #fef2de;
		}

		&:last-of-type {
			width: 100%;
		}
	}

	&__button-submit {
		width: 100%;
		text-transform: uppercase;
		padding: 8px 15px;
		border: none;
		background: #f00;
		color: #fff;
		font-size: 14px;
		cursor: pointer;
	}
}

// form button {
// 	width: 100%;
// 	border: 0;
// 	font-size: 16px;
// }

// button,
// input[type=submit] {
// 	text-transform: uppercase;
// 	padding: 8px 15px;
// 	border: none;
// 	background: #f00;
// 	color: #fff;
// 	font-size: 14px;
// 	cursor: pointer;
// }
