/* #root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
} */

* {
	box-sizing: border-box;
}

.app {
	width: 100vw;
	min-height: 100vh;

	&__wrap {
		max-width: 600px;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	&__heading {
		text-transform: uppercase;
		font-size: 40px;
		margin: 52px 0 32px;
		z-index: 1;
		text-align: center;

		@media (max-width: 800px) {
			margin: 15px 0;
			font-size: 35px;
		}
	}
}
