/* #root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
} */

.App {
	width: 100vw;
	min-height: 100vh;
	/* font-family: "Montserrat"; */
}

.wrap {
	max-width: 600px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading {
	text-transform: uppercase;
	font-size: 40px;
	margin: 52px 0 32px;
	z-index: 1;
	text-align: center;
}

@media (max-width: 800px) {
	.heading {
		margin: 15px 0;
		font-size: 35px;
	}
}
